In [2]:
import pandas as pd
import numpy as np

In [3]:
MAINPATH = r'C:\Users\elias\Desktop\Cirugia de datos'

In [7]:
brand = ['Gigabyte', 'MSI', 'Lenovo', 'Dell', 'Acer']
graphic_card = ['Gtx 1660 Ti', 'Rtx 2080 Ti', 'Integrated']
memory = ['4gb','8gb','16gb','32gb']
monitor_type = ['TN', 'VA', 'IPS']
monitor_res = ['HD', 'FHD', '4k']
storage = ['128gb', '256gb','500gb','1tb']
storage_type = ['HDD','SSD']

In [12]:
n_rows = 1000000
brand_data = np.random.choice(brand, size=n_rows)
graphic_card_data = np.random.choice(memory, size=n_rows)
memory_data = np.random.choice(memory, size=n_rows)
monitor_type_data = np.random.choice(monitor_type, size=n_rows)
monitor_res_data = np.random.choice(monitor_res, size=n_rows)
sotrage_data = np.random.choice(storage, size=n_rows)
sotrage_type_data = np.random.choice(storage_type, size=n_rows)

In [19]:
data = pd.DataFrame({
    'Brand':brand_data,
    'Graphic':graphic_card_data,
    'Memory': memory_data,
    'Monitor_type': monitor_type_data,
    'Monitor_res': monitor_res_data,
    'Storage': sotrage_data,
    'Storage Type': sotrage_type_data
})

In [20]:
data.shape

(1000000, 7)

In [21]:
data.head()

      Brand Graphic Memory Monitor_type Monitor_res Storage Storage Type
0    Lenovo     4gb   16gb           VA         FHD   256gb          HDD
1      Acer    32gb   32gb           TN          4k     1tb          SSD
2  Gigabyte     8gb    8gb          IPS          4k   500gb          HDD
3      Dell    16gb    4gb           VA          4k   500gb          HDD
4  Gigabyte    16gb    4gb           VA          4k     1tb          HDD

In [22]:
new_computers = pd.DataFrame({
    'Brand':['Asus','Lenovo','Samsung','Microsoft','Apple'],
    'Graphic': ['Grx 1650 Ti', 'Gtx 1440 Ti', 'Integrated', 'Rtx 2060 Ti', 'Integrated'],
    'Memory': ['32gb','.32gb','64gb','128gb','2tb'],
    'Monitor_type': ['TN','TN','VA','IPS','VA'],
    'Monitor_res': np.random.choice(monitor_res, size=5),
    'Storage': np.random.choice(storage, size=5),
    'Storage Type': np.random.choice(storage_type, size=5)
})

In [26]:
data3 = pd.concat([data, new_computers],axis="rows")
data3 = data3.reset_index().drop(['index'],axis="columns")
data3.head()

      Brand Graphic Memory Monitor_type Monitor_res Storage Storage Type
0    Lenovo     4gb   16gb           VA         FHD   256gb          HDD
1      Acer    32gb   32gb           TN          4k     1tb          SSD
2  Gigabyte     8gb    8gb          IPS          4k   500gb          HDD
3      Dell    16gb    4gb           VA          4k   500gb          HDD
4  Gigabyte    16gb    4gb           VA          4k     1tb          HDD

In [29]:
brands = data['Brand'].unique().tolist()
brands

['Lenovo', 'Acer', 'Gigabyte', 'Dell', 'MSI']

In [32]:
brands_df = pd.DataFrame({
    'Brands': brands,
    'Brand Foundation Year': ['1975','1984','1999','2010','1980'],
    'Brand Capital': ['$10000000', '$5000000', '$1000000000', '$1', '$9999999999999999']
})
brands_df

     Brands Brand Foundation Year      Brand Capital
0    Lenovo                  1975          $10000000
1      Acer                  1984           $5000000
2  Gigabyte                  1999        $1000000000
3      Dell                  2010                 $1
4       MSI                  1980  $9999999999999999

In [36]:
left = data.set_index('Brand')
right = data3.set_index('Brand')
combined_df = left.join(right,lsuffix="_comp",rsuffix="_brand")
combined_df

MemoryError: Unable to allocate 1.46 TiB for an array with shape (200000432503,) and data type int64

In [39]:
data.groupby('Brand').get_group('Dell')

       Brand Graphic Memory Monitor_type Monitor_res Storage Storage Type
3       Dell    16gb    4gb           VA          4k   500gb          HDD
18      Dell     4gb    4gb          IPS          4k   128gb          SSD
39      Dell    16gb   32gb           VA         FHD   128gb          SSD
40      Dell    16gb   32gb           TN         FHD   500gb          HDD
45      Dell    16gb    4gb           TN         FHD   256gb          HDD
...      ...     ...    ...          ...         ...     ...          ...
999972  Dell     4gb    8gb          IPS          HD     1tb          SSD
999992  Dell    32gb    8gb           TN         FHD   128gb          HDD
999993  Dell    32gb   16gb           VA         FHD     1tb          HDD
999994  Dell    16gb   16gb          IPS          HD   256gb          HDD
999999  Dell    16gb   16gb           VA          4k   256gb          SSD

[200085 rows x 7 columns]

In [40]:
data.groupby('Brand').size()

Brand
Acer        200175
Dell        200085
Gigabyte    199765
Lenovo      200251
MSI         199724
dtype: int64

In [44]:
data.groupby(['Brand','Storage Type']).size()

Brand     Storage Type
Acer      HDD             100392
          SSD              99783
Dell      HDD             100161
          SSD              99924
Gigabyte  HDD              99774
          SSD              99991
Lenovo    HDD             100514
          SSD              99737
MSI       HDD              99687
          SSD             100037
dtype: int64

In [45]:
print(f'Hola {10000000000:,}')

Hola 10,000,000,000

In [47]:
data['Storage Type'].replace('HDD','1').replace('SSD', '0')

0         1
1         0
2         1
3         1
4         1
         ..
999995    0
999996    0
999997    0
999998    0
999999    0
Name: Storage Type, Length: 1000000, dtype: object