## Datos duplicados

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a': ['w'] * 4 + ['x'] * 3 + ['y'] * 2 + ['z']+['v'], 
                   'b': [1, 1, 1, 1, 2, 2, 2, 3, 3, 4,5]})
df

    a  b
0   w  1
1   w  1
2   w  1
3   w  1
4   x  2
5   x  2
6   x  2
7   y  3
8   y  3
9   z  4
10  v  5

In [3]:
df.duplicated()

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10    False
dtype: bool

In [8]:
# Podemos usar keep='first' para marcar solo la primera ocurrencia o keep='last' para marcar la Ãºltima:
df.duplicated(keep='first')

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10    False
dtype: bool

In [7]:
df.duplicated(keep='last')

0      True
1      True
2      True
3     False
4      True
5      True
6     False
7      True
8     False
9     False
10    False
dtype: bool

In [10]:
df[~ df.duplicated()]

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [21]:
df[df.duplicated()]

   a  b
1  w  1
2  w  1
3  w  1
5  x  2
6  x  2
8  y  3

In [24]:
df.drop_duplicates()

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [25]:
df.drop_duplicates(['a'],keep='last')

    a  b
3   w  1
6   x  2
8   y  3
9   z  4
10  v  5